/* Base layer can NOT contain classes and id's! place them under the base layer  */

@layer base {
  body {
    @apply font-body text-primary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl mb-3 text-center;
  }

  h3,
  h4 {
    @apply text-blue-pacific uppercase mb-0.75;
  }

  main {
    a:not(.nav-link):not(.btn):not([class*="text"]) {
      @apply text-blue-pacific underline transition-colors hover:text-primary;
    }

    a[class*="text"] {
      @apply underline transition-colors hover:text-primary;
    }

    p {
      @apply max-w-3xl mx-auto;
    }
  }

  section {
    @apply py-3 bg-white;

    &:nth-of-type(odd) {
      @apply bg-gray;
    }
  }

  @screen md {
    section {
      @apply py-6;
    }
  }

  ::selection {
    @apply bg-primary text-white;
  }
}
.lazyLoad {
  @apply opacity-0;

  &.isLoaded {
    @apply opacity-100;
  }
}
